#//////////////////////////
# VS Code
#//////////////////////////

.vscode/

#//////////////////////////
# javascript modules
#//////////////////////////

node_modules/*

#/////////////////////////
# dist
#////////////////////////

dist/*
